@charset "UTF-8";

*{
  font-family: Verdana, Tahoma, sans-serif;
}

body{
  background-color: lightgray;
}

input{
    display: block;
}
/* style do sidenav */
.sidenav {
    height: 100%;
    width: 0; /* largura incial */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* conteúdo do sidenav só aparece quando ativado */
    padding-top: 60px;
    transition: 0.5s; /* tempo para a variação de largura */
  }
  
  /* Seleção sidenav */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
  }
  
  /* Muda a cor das opções do sidenav*/
  .sidenav a:hover {
    color: #f1f1f1;
    cursor: pointer;
  }
  #de{
    font-size: 20px;
  }

  #de:hover {
    color: #818181;
    cursor: context-menu;
  }
  
  /* Botão fechar do sidenav */
  .sidenav .fecharbtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s; /* tempo para a variação de margem */
    padding: 20px;
  }

  #grupoBinario,#grupoDecimal,#grupoOctal,#grupoHexa{
    display: none;
    position: fixed;
  }
  #botaoMenu:hover{
    cursor: pointer;
  }
  /* style do botão menu */
  .iconeMenu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
  }